$preto: #000000;
$verde-matrix: #00ff00;
$verde-neon: #0f0;
$verde-claro: #33ff33;
$cinza-escuro: #111;

$font-matrix: 'courier new', courier, monospace;

//tema Azul
$azul-bg: #001a33;
$azul-texto: #00cfff;

//Tema Vermelho
$vermelho-bg: #1a0000;
$vermelho-texto: #ff0033;
